<!DOCTYPE html>
<html>
<head>
    <title>WeConnect-SolarManager</title>
    <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}" />
    <script src="{{url_for('static', filename='jquery-3.6.4.js')}}"></script>
    <script src="{{url_for('static', filename='axios.min.js')}}"></script>
    <script src="{{url_for('static', filename='serviceWorker.js')}}"></script>
    <script src="{{url_for('static', filename='pushNotification.js')}}"></script>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}" crossorigin="use-credentials">
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='images/favicon/icon-57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='images/favicon/icon-60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='images/favicon/icon-72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='images/favicon/icon-76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='images/favicon/icon-114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='images/favicon/icon-120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='images/favicon/icon-144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='images/favicon/icon-152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/favicon/icon-180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='images/favicon/icon-192.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='images/favicon/icon-96.png')}}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{url_for('static', filename='images/favicon/icon-64.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon/icon-32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon/icon-16.png')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon/icon-64.png')}}" />
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='images/favicon/icon-114.png')}}">
    <meta name="theme-color" content="#121212">
</head>
<body>
<h1>WeConnect-SolarManager</h1>
<div id="GiveAccess" style="display:none;">
    <button id="PromptForAccessBtn" class="danger">Enable Push Notifications</button>
</div>
<div id="mainApp" data-applicationServerKey="{{PublicKey}}">
    <h2>Logs</h2>
    <p>
        {{LogOutput|safe}}
    </p>
</div>
</body>
</html>